@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Poppins&display=swap");

:root {
    --primary: #222831;
    --secondary: #31363f;
    --text: #eeeeee;
    --icons: #76abae;
}

body {
    background-color: var(--primary);
    color: var(--text);
    font-family: "Kanit", sans-serif;
}

.material-symbols-outlined {
    vertical-align: top;
    color: var(--text);
}

.bg-primary {
    background-color: var(--primary) !important;
}

.code {
    background-color: var(--primary);
    border-color: #fffffe;
    color: var(--text);
}

.profile {
    width: 100%;
    border-radius: 7px;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
    transition: filter 0.3s ease;
}

.image-container:hover img {
    filter: brightness(30%);
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text);
    font-size: 24px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover .text {
    opacity: 1; /* Show text on hover */
}

.border-bv {
    border-color: #31363f !important;
}

.accent {
    color: var(--icons);
}

.btn-bv {
    background-color: var(--icons) !important;
    color: var(--text) !important;
    border: none !important;
}
.btn-thg:hover {
    filter: brightness(95%);
}

.form-control {
    box-shadow: none !important;
    border: none !important;
    resize: none !important;
    color: var(--text) !important;
    font-family: Consolas, monospace;
}

.bg-bv {
    background-color: var(--secondary) !important;
}

.card-body {
    color: var(--text) !important;
}
