@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Poppins&display=swap");

body {
    background-color: #121212;
    color: #fffffe;
    font-family: "Kanit", sans-serif;
}

.list-group-item {
    background-color: #212121;
    color: #fffffe;
}

.card {
    background-color: #212121;
}

textarea {
    resize: none;
}

.form-control {
    box-shadow: none !important;
    background-color: #212121 !important;
    color: #fffffe !important;
    outline: none !important;
    border-color: #fffffe !important;
    font-family: monospace;
}

.btn {
    background-color: #fffffe !important;
    color: #121212 !important;
    box-shadow: none !important;
}

.material-symbols-outlined {
    vertical-align: top;
}

.logo {
    background: url(the_holy_grail.jpeg);
    height: 20px;
    width: 20px;
}
